USE [ActiveSpaceDB]
GO
/****** Object:  Trigger [trg_GenerateSalaryRef]    Script Date: 5/29/2026 9:51:24 PM ******/
DROP TRIGGER [dbo].[trg_GenerateSalaryRef]
GO
/****** Object:  Trigger [trg_GeneratePurchaseRef]    Script Date: 5/29/2026 9:51:24 PM ******/
DROP TRIGGER [dbo].[trg_GeneratePurchaseRef]
GO
/****** Object:  Trigger [trg_GeneratePaymentRef]    Script Date: 5/29/2026 9:51:24 PM ******/
DROP TRIGGER [dbo].[trg_GeneratePaymentRef]
GO
/****** Object:  Trigger [trg_GenerateContractRef]    Script Date: 5/29/2026 9:51:24 PM ******/
DROP TRIGGER [dbo].[trg_GenerateContractRef]
GO
/****** Object:  Trigger [trg_GenerateInventoryCategoryRef]    Script Date: 5/29/2026 9:51:24 PM ******/
DROP TRIGGER [dbo].[trg_GenerateInventoryCategoryRef]
GO
/****** Object:  Trigger [trg_GenerateItemRef]    Script Date: 5/29/2026 9:51:24 PM ******/
DROP TRIGGER [dbo].[trg_GenerateItemRef]
GO
/****** Object:  Trigger [trg_GenerateExpenseRef]    Script Date: 5/29/2026 9:51:24 PM ******/
DROP TRIGGER [dbo].[trg_GenerateExpenseRef]
GO
/****** Object:  Trigger [trg_GenerateExpenseCategoryRef]    Script Date: 5/29/2026 9:51:24 PM ******/
DROP TRIGGER [dbo].[trg_GenerateExpenseCategoryRef]
GO
/****** Object:  Trigger [trg_GenerateCourtRef]    Script Date: 5/29/2026 9:51:24 PM ******/
DROP TRIGGER [dbo].[trg_GenerateCourtRef]
GO
/****** Object:  Trigger [trg_GenerateBookingRef]    Script Date: 5/29/2026 9:51:24 PM ******/
DROP TRIGGER [dbo].[trg_GenerateBookingRef]
GO
ALTER TABLE [dbo].[PURCHASES] DROP CONSTRAINT [CK_PURCHASES_UnitPriceNonNegative]
GO
ALTER TABLE [dbo].[PURCHASES] DROP CONSTRAINT [CK_PURCHASES_QuantityPositive]
GO
ALTER TABLE [dbo].[PAYMENTS] DROP CONSTRAINT [CHK_PAYMENTS_ONE_REF]
GO
ALTER TABLE [dbo].[SALARIES] DROP CONSTRAINT [FK_SALARIES_EMPLOYEES]
GO
ALTER TABLE [dbo].[PURCHASES] DROP CONSTRAINT [FK_PURCHASES_INVENTORY]
GO
ALTER TABLE [dbo].[PURCHASES] DROP CONSTRAINT [FK_PURCHASES_EXPENSES]
GO
ALTER TABLE [dbo].[PURCHASES] DROP CONSTRAINT [FK_PURCHASES_EMPLOYEES]
GO
ALTER TABLE [dbo].[PURCHASE_COURTS] DROP CONSTRAINT [FK_PURCHASE_COURTS_PURCHASES]
GO
ALTER TABLE [dbo].[PURCHASE_COURTS] DROP CONSTRAINT [FK_PURCHASE_COURTS_COURTS]
GO
ALTER TABLE [dbo].[PAYMENTS] DROP CONSTRAINT [FK_PAYMENTS_CUSTOMERS]
GO
ALTER TABLE [dbo].[PAYMENTS] DROP CONSTRAINT [FK_PAYMENTS_CONTRACT]
GO
ALTER TABLE [dbo].[PAYMENTS] DROP CONSTRAINT [FK_PAYMENTS_BOOKING]
GO
ALTER TABLE [dbo].[MONTHLY_CONTRACTS] DROP CONSTRAINT [FK_MONTHLY_CONTRACTS_CUSTOMERS]
GO
ALTER TABLE [dbo].[MONTHLY_CONTRACTS] DROP CONSTRAINT [FK_MONTHLY_CONTRACTS_COURTS]
GO
ALTER TABLE [dbo].[INVENTORY_MOVEMENTS] DROP CONSTRAINT [FK_INVENTORY_MOVEMENTS_INVENTORY]
GO
ALTER TABLE [dbo].[INVENTORY_MOVEMENTS] DROP CONSTRAINT [FK_INVENTORY_MOVEMENTS_EMPLOYEES]
GO
ALTER TABLE [dbo].[EXPENSES] DROP CONSTRAINT [FK_EXPENSES_EMPLOYEES]
GO
ALTER TABLE [dbo].[EXPENSES] DROP CONSTRAINT [FK_EXPENSES_Category]
GO
ALTER TABLE [dbo].[BOOKINGS] DROP CONSTRAINT [FK_BOOKINGS_MONTHLY_CONTRACTS]
GO
ALTER TABLE [dbo].[BOOKINGS] DROP CONSTRAINT [FK_BOOKINGS_CUSTOMERS]
GO
ALTER TABLE [dbo].[BOOKINGS] DROP CONSTRAINT [FK_BOOKINGS_COURTS]
GO
ALTER TABLE [dbo].[BOOKING_INVENTORY] DROP CONSTRAINT [FK_BOOKING_INVENTORY_INVENTORY]
GO
ALTER TABLE [dbo].[BOOKING_INVENTORY] DROP CONSTRAINT [FK_BOOKING_INVENTORY_BOOKINGS]
GO
ALTER TABLE [dbo].[SALARIES] DROP CONSTRAINT [DF__SALARIES__deduct__5AB9788F]
GO
ALTER TABLE [dbo].[SALARIES] DROP CONSTRAINT [DF__SALARIES__incent__59C55456]
GO
ALTER TABLE [dbo].[PRODUCTS] DROP CONSTRAINT [DF__PRODUCTS__min_qu__57DD0BE4]
GO
ALTER TABLE [dbo].[PRODUCTS] DROP CONSTRAINT [DF__PRODUCTS__usage___56E8E7AB]
GO
ALTER TABLE [dbo].[PRODUCTS] DROP CONSTRAINT [DF__PRODUCTS__rental__55F4C372]
GO
ALTER TABLE [dbo].[PRODUCTS] DROP CONSTRAINT [DF__PRODUCTS__sellin__55009F39]
GO
ALTER TABLE [dbo].[MONTHLY_CONTRACTS] DROP CONSTRAINT [DF_MONTHLY_CONTRACTS_PaymentStatus]
GO
ALTER TABLE [dbo].[INVENTORY] DROP CONSTRAINT [DF_INVENTORY_DamagedQty]
GO
ALTER TABLE [dbo].[EXPENSE_CATEGORIES] DROP CONSTRAINT [DF_ExpenseCategories_AffectsInventory]
GO
ALTER TABLE [dbo].[EMPLOYEES] DROP CONSTRAINT [DF_EMPLOYEES_HasSystemAccess]
GO
ALTER TABLE [dbo].[COURTS] DROP CONSTRAINT [DF__COURTS__close_ti__114A936A]
GO
ALTER TABLE [dbo].[COURTS] DROP CONSTRAINT [DF__COURTS__open_tim__10566F31]
GO
ALTER TABLE [dbo].[COURTS] DROP CONSTRAINT [DF__COURTS__price_pe__0F624AF8]
GO
ALTER TABLE [dbo].[BOOKINGS] DROP CONSTRAINT [DF_BOOKINGS_Status]
GO
/****** Object:  Index [IX_Salaries_SalaryRef]    Script Date: 5/29/2026 9:51:24 PM ******/
DROP INDEX [IX_Salaries_SalaryRef] ON [dbo].[SALARIES]
GO
/****** Object:  Index [IX_Purchases_PurchaseRef]    Script Date: 5/29/2026 9:51:24 PM ******/
DROP INDEX [IX_Purchases_PurchaseRef] ON [dbo].[PURCHASES]
GO
/****** Object:  Index [IX_Payments_PaymentRef]    Script Date: 5/29/2026 9:51:24 PM ******/
DROP INDEX [IX_Payments_PaymentRef] ON [dbo].[PAYMENTS]
GO
/****** Object:  Index [UQ_INVENTORY_CATEGORIES_Name]    Script Date: 5/29/2026 9:51:24 PM ******/
ALTER TABLE [dbo].[INVENTORY_CATEGORIES] DROP CONSTRAINT [UQ_INVENTORY_CATEGORIES_Name]
GO
/****** Object:  Index [IX_Inventory_ItemRef]    Script Date: 5/29/2026 9:51:24 PM ******/
DROP INDEX [IX_Inventory_ItemRef] ON [dbo].[INVENTORY]
GO
/****** Object:  Index [IX_Expenses_ExpenseRef]    Script Date: 5/29/2026 9:51:24 PM ******/
DROP INDEX [IX_Expenses_ExpenseRef] ON [dbo].[EXPENSES]
GO
/****** Object:  Index [IX_Expenses_CategoryRef]    Script Date: 5/29/2026 9:51:24 PM ******/
DROP INDEX [IX_Expenses_CategoryRef] ON [dbo].[EXPENSES]
GO
/****** Object:  Index [UQ_EXPENSE_CATEGORIES_Name]    Script Date: 5/29/2026 9:51:24 PM ******/
ALTER TABLE [dbo].[EXPENSE_CATEGORIES] DROP CONSTRAINT [UQ_EXPENSE_CATEGORIES_Name]
GO
/****** Object:  Index [IX_Courts_CourtRef]    Script Date: 5/29/2026 9:51:24 PM ******/
DROP INDEX [IX_Courts_CourtRef] ON [dbo].[COURTS]
GO
/****** Object:  Index [UQ_COURTS_CourtName]    Script Date: 5/29/2026 9:51:24 PM ******/
ALTER TABLE [dbo].[COURTS] DROP CONSTRAINT [UQ_COURTS_CourtName]
GO
/****** Object:  Index [IX_Bookings_BookingRef]    Script Date: 5/29/2026 9:51:24 PM ******/
DROP INDEX [IX_Bookings_BookingRef] ON [dbo].[BOOKINGS]
GO
/****** Object:  Table [dbo].[SALARIES]    Script Date: 5/29/2026 9:51:24 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SALARIES]') AND type in (N'U'))
DROP TABLE [dbo].[SALARIES]
GO
/****** Object:  Table [dbo].[PURCHASES]    Script Date: 5/29/2026 9:51:24 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PURCHASES]') AND type in (N'U'))
DROP TABLE [dbo].[PURCHASES]
GO
/****** Object:  Table [dbo].[PURCHASE_COURTS]    Script Date: 5/29/2026 9:51:24 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PURCHASE_COURTS]') AND type in (N'U'))
DROP TABLE [dbo].[PURCHASE_COURTS]
GO
/****** Object:  Table [dbo].[PRODUCTS]    Script Date: 5/29/2026 9:51:24 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PRODUCTS]') AND type in (N'U'))
DROP TABLE [dbo].[PRODUCTS]
GO
/****** Object:  Table [dbo].[PAYMENTS]    Script Date: 5/29/2026 9:51:24 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PAYMENTS]') AND type in (N'U'))
DROP TABLE [dbo].[PAYMENTS]
GO
/****** Object:  Table [dbo].[MONTHLY_CONTRACTS]    Script Date: 5/29/2026 9:51:24 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MONTHLY_CONTRACTS]') AND type in (N'U'))
DROP TABLE [dbo].[MONTHLY_CONTRACTS]
GO
/****** Object:  Table [dbo].[INVENTORY_MOVEMENTS]    Script Date: 5/29/2026 9:51:24 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[INVENTORY_MOVEMENTS]') AND type in (N'U'))
DROP TABLE [dbo].[INVENTORY_MOVEMENTS]
GO
/****** Object:  Table [dbo].[INVENTORY_CATEGORIES]    Script Date: 5/29/2026 9:51:24 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[INVENTORY_CATEGORIES]') AND type in (N'U'))
DROP TABLE [dbo].[INVENTORY_CATEGORIES]
GO
/****** Object:  Table [dbo].[INVENTORY]    Script Date: 5/29/2026 9:51:24 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[INVENTORY]') AND type in (N'U'))
DROP TABLE [dbo].[INVENTORY]
GO
/****** Object:  Table [dbo].[EXPENSES]    Script Date: 5/29/2026 9:51:24 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[EXPENSES]') AND type in (N'U'))
DROP TABLE [dbo].[EXPENSES]
GO
/****** Object:  Table [dbo].[EXPENSE_CATEGORIES]    Script Date: 5/29/2026 9:51:24 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[EXPENSE_CATEGORIES]') AND type in (N'U'))
DROP TABLE [dbo].[EXPENSE_CATEGORIES]
GO
/****** Object:  Table [dbo].[EMPLOYEES]    Script Date: 5/29/2026 9:51:24 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[EMPLOYEES]') AND type in (N'U'))
DROP TABLE [dbo].[EMPLOYEES]
GO
/****** Object:  Table [dbo].[CUSTOMERS]    Script Date: 5/29/2026 9:51:24 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CUSTOMERS]') AND type in (N'U'))
DROP TABLE [dbo].[CUSTOMERS]
GO
/****** Object:  Table [dbo].[COURTS]    Script Date: 5/29/2026 9:51:24 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[COURTS]') AND type in (N'U'))
DROP TABLE [dbo].[COURTS]
GO
/****** Object:  Table [dbo].[BOOKINGS]    Script Date: 5/29/2026 9:51:24 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[BOOKINGS]') AND type in (N'U'))
DROP TABLE [dbo].[BOOKINGS]
GO
/****** Object:  Table [dbo].[BOOKING_INVENTORY]    Script Date: 5/29/2026 9:51:24 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[BOOKING_INVENTORY]') AND type in (N'U'))
DROP TABLE [dbo].[BOOKING_INVENTORY]
GO
/****** Object:  Table [dbo].[BOOKING_INVENTORY]    Script Date: 5/29/2026 9:51:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BOOKING_INVENTORY](
	[booking_ref] [varchar](50) NOT NULL,
	[item_ref] [varchar](50) NOT NULL,
	[quantity] [int] NOT NULL,
	[price] [decimal](18, 2) NOT NULL,
	[usage_type] [varchar](20) NOT NULL,
 CONSTRAINT [PK_BOOKING_INVENTORY] PRIMARY KEY CLUSTERED 
(
	[booking_ref] ASC,
	[item_ref] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BOOKINGS]    Script Date: 5/29/2026 9:51:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BOOKINGS](
	[booking_ref] [varchar](50) NOT NULL,
	[customer_phone_number] [varchar](20) NOT NULL,
	[court_ref] [varchar](50) NOT NULL,
	[contract_ref] [varchar](50) NULL,
	[booking_date] [date] NOT NULL,
	[start_time] [time](7) NOT NULL,
	[end_time] [time](7) NOT NULL,
	[price] [decimal](10, 2) NOT NULL,
	[status] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[booking_ref] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COURTS]    Script Date: 5/29/2026 9:51:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COURTS](
	[court_ref] [varchar](50) NOT NULL,
	[court_name] [nvarchar](100) NOT NULL,
	[sport_type] [nvarchar](50) NOT NULL,
	[price_per_hour] [float] NOT NULL,
	[open_time] [time](7) NOT NULL,
	[close_time] [time](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[court_ref] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CUSTOMERS]    Script Date: 5/29/2026 9:51:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUSTOMERS](
	[phone_number] [varchar](20) NOT NULL,
	[full_name] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[phone_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMPLOYEES]    Script Date: 5/29/2026 9:51:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMPLOYEES](
	[employee_id] [varchar](15) NOT NULL,
	[full_name] [nvarchar](100) NOT NULL,
	[phone_number] [varchar](20) NOT NULL,
	[position] [nvarchar](100) NOT NULL,
	[salary] [decimal](10, 2) NOT NULL,
	[hire_date] [date] NOT NULL,
	[has_system_access] [bit] NOT NULL,
	[username] [varchar](50) NULL,
	[password_hash] [nvarchar](255) NULL,
	[system_role] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[employee_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EXPENSE_CATEGORIES]    Script Date: 5/29/2026 9:51:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EXPENSE_CATEGORIES](
	[category_ref] [varchar](20) NOT NULL,
	[category_name] [nvarchar](100) NOT NULL,
	[affects_inventory] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[category_ref] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EXPENSES]    Script Date: 5/29/2026 9:51:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EXPENSES](
	[expense_ref] [varchar](50) NOT NULL,
	[employee_id] [varchar](15) NULL,
	[expense_date] [date] NOT NULL,
	[category_ref] [varchar](20) NOT NULL,
	[expense_description] [nvarchar](255) NOT NULL,
	[amount] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[expense_ref] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[INVENTORY]    Script Date: 5/29/2026 9:51:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INVENTORY](
	[item_ref] [varchar](50) NOT NULL,
	[current_quantity] [int] NOT NULL,
	[damaged_quantity] [int] NOT NULL,
	[product_ref] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[item_ref] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[INVENTORY_CATEGORIES]    Script Date: 5/29/2026 9:51:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INVENTORY_CATEGORIES](
	[category_ref] [varchar](20) NOT NULL,
	[category_name] [nvarchar](100) NOT NULL,
	[description] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[category_ref] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[INVENTORY_MOVEMENTS]    Script Date: 5/29/2026 9:51:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INVENTORY_MOVEMENTS](
	[movement_ref] [varchar](50) NOT NULL,
	[item_ref] [varchar](50) NOT NULL,
	[employee_id] [varchar](15) NULL,
	[movement_date] [date] NOT NULL,
	[movement_time] [time](7) NOT NULL,
	[movement_type] [varchar](10) NOT NULL,
	[quantity] [int] NOT NULL,
	[notes] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[movement_ref] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MONTHLY_CONTRACTS]    Script Date: 5/29/2026 9:51:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MONTHLY_CONTRACTS](
	[contract_ref] [varchar](50) NOT NULL,
	[customer_phone_number] [varchar](20) NOT NULL,
	[court_ref] [varchar](50) NOT NULL,
	[start_date] [date] NOT NULL,
	[end_date] [date] NOT NULL,
	[start_time] [time](7) NOT NULL,
	[end_time] [time](7) NOT NULL,
	[monthly_value] [decimal](10, 2) NOT NULL,
	[payment_status] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[contract_ref] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PAYMENTS]    Script Date: 5/29/2026 9:51:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PAYMENTS](
	[payment_ref] [varchar](50) NOT NULL,
	[customer_phone_number] [varchar](20) NOT NULL,
	[payment_date] [date] NOT NULL,
	[payment_time] [time](7) NOT NULL,
	[booking_ref] [varchar](50) NULL,
	[contract_ref] [varchar](50) NULL,
	[amount] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[payment_ref] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCTS]    Script Date: 5/29/2026 9:51:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCTS](
	[product_ref] [varchar](20) NOT NULL,
	[product_name] [nvarchar](100) NOT NULL,
	[category_ref] [varchar](20) NULL,
	[selling_price] [decimal](18, 2) NULL,
	[rental_rate] [decimal](18, 2) NULL,
	[usage_type] [int] NULL,
	[min_quantity] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[product_ref] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PURCHASE_COURTS]    Script Date: 5/29/2026 9:51:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PURCHASE_COURTS](
	[purchase_ref] [varchar](50) NOT NULL,
	[court_ref] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[purchase_ref] ASC,
	[court_ref] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PURCHASES]    Script Date: 5/29/2026 9:51:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PURCHASES](
	[purchase_ref] [varchar](50) NOT NULL,
	[expense_ref] [varchar](50) NULL,
	[purchase_date] [date] NOT NULL,
	[item_ref] [varchar](50) NOT NULL,
	[quantity] [int] NOT NULL,
	[unit_price] [decimal](10, 2) NOT NULL,
	[total_price]  AS ([quantity]*[unit_price]) PERSISTED,
	[supplier_name] [nvarchar](200) NOT NULL,
	[employee_id] [varchar](15) NULL,
	[notes] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[purchase_ref] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SALARIES]    Script Date: 5/29/2026 9:51:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SALARIES](
	[salary_ref] [varchar](50) NOT NULL,
	[employee_id] [varchar](15) NOT NULL,
	[payment_date] [date] NOT NULL,
	[amount] [decimal](10, 2) NOT NULL,
	[incentives] [decimal](10, 2) NOT NULL,
	[deductions] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[salary_ref] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[BOOKING_INVENTORY] ([booking_ref], [item_ref], [quantity], [price], [usage_type]) VALUES (N'BKG-20260530-004', N'INV-0002', 1, CAST(5.00 AS Decimal(18, 2)), N'Rent')
INSERT [dbo].[BOOKING_INVENTORY] ([booking_ref], [item_ref], [quantity], [price], [usage_type]) VALUES (N'BKG-20260616-001', N'INV-0001', 1, CAST(10.00 AS Decimal(18, 2)), N'Rent')
GO
INSERT [dbo].[BOOKINGS] ([booking_ref], [customer_phone_number], [court_ref], [contract_ref], [booking_date], [start_time], [end_time], [price], [status]) VALUES (N'BKG-20260502-001', N'0911234567', N'CRT-0001', N'CONT-001', CAST(N'2026-05-02' AS Date), CAST(N'18:00:00' AS Time), CAST(N'20:00:00' AS Time), CAST(0.00 AS Decimal(10, 2)), N'مؤكد')
INSERT [dbo].[BOOKINGS] ([booking_ref], [customer_phone_number], [court_ref], [contract_ref], [booking_date], [start_time], [end_time], [price], [status]) VALUES (N'BKG-20260504-001', N'0927654321', N'CRT-0003', N'CONT-002', CAST(N'2026-05-04' AS Date), CAST(N'16:00:00' AS Time), CAST(N'18:00:00' AS Time), CAST(0.00 AS Decimal(10, 2)), N'مؤكد')
INSERT [dbo].[BOOKINGS] ([booking_ref], [customer_phone_number], [court_ref], [contract_ref], [booking_date], [start_time], [end_time], [price], [status]) VALUES (N'BKG-20260509-001', N'0911234567', N'CRT-0001', N'CONT-001', CAST(N'2026-05-09' AS Date), CAST(N'18:00:00' AS Time), CAST(N'20:00:00' AS Time), CAST(0.00 AS Decimal(10, 2)), N'مؤكد')
GO
INSERT [dbo].[COURTS] ([court_ref], [court_name], [sport_type], [price_per_hour], [open_time], [close_time]) VALUES (N'CRT-0001', N'ملعب شهداء بوسليم - خماسي', N'كرة قدم', 50, CAST(N'08:00:00' AS Time), CAST(N'00:00:00' AS Time))
INSERT [dbo].[COURTS] ([court_ref], [court_name], [sport_type], [price_per_hour], [open_time], [close_time]) VALUES (N'CRT-0002', N'ملعب النجوم - سداسي', N'كرة قدم', 70, CAST(N'08:00:00' AS Time), CAST(N'00:00:00' AS Time))
INSERT [dbo].[COURTS] ([court_ref], [court_name], [sport_type], [price_per_hour], [open_time], [close_time]) VALUES (N'CRT-0003', N'ملعب بادل طرابلس A', N'بادل', 120, CAST(N'08:00:00' AS Time), CAST(N'00:00:00' AS Time))
GO
INSERT [dbo].[CUSTOMERS] ([phone_number], [full_name]) VALUES (N'0911234567', N'أحمد الفيتوري')
INSERT [dbo].[CUSTOMERS] ([phone_number], [full_name]) VALUES (N'0915232636', N'أحمد محمد')
INSERT [dbo].[CUSTOMERS] ([phone_number], [full_name]) VALUES (N'0919998877', N'عمر الزنتاني')
GO
INSERT [dbo].[EMPLOYEES] ([employee_id], [full_name], [phone_number], [position], [salary], [hire_date], [has_system_access], [username], [password_hash], [system_role]) VALUES (N'119850987654', N'مفتاح الزاوي', N'0942223344', N'حارس أمن ليلي', CAST(900.00 AS Decimal(10, 2)), CAST(N'2025-06-01' AS Date), 0, NULL, NULL, NULL)
INSERT [dbo].[EMPLOYEES] ([employee_id], [full_name], [phone_number], [position], [salary], [hire_date], [has_system_access], [username], [password_hash], [system_role]) VALUES (N'119880112233', N'فرج العجيلي', N'0913334455', N'حارس أمن نهاري', CAST(900.00 AS Decimal(10, 2)), CAST(N'2025-06-01' AS Date), 0, NULL, NULL, NULL)
INSERT [dbo].[EMPLOYEES] ([employee_id], [full_name], [phone_number], [position], [salary], [hire_date], [has_system_access], [username], [password_hash], [system_role]) VALUES (N'119900123456', N'عبدالمهيمن كشون', N'0910001122', N'مدير المجمع', CAST(3500.00 AS Decimal(10, 2)), CAST(N'2024-01-01' AS Date), 1, N'admin', N'03AC674216F3E15C761EE1A5E255F067953623C8B388B4459E13F978D7C846F4', N'Admin')
GO
INSERT [dbo].[EXPENSE_CATEGORIES] ([category_ref], [category_name], [affects_inventory]) VALUES (N'CAT-EXP-001', N'فواتير', 0)
INSERT [dbo].[EXPENSE_CATEGORIES] ([category_ref], [category_name], [affects_inventory]) VALUES (N'CAT-EXP-002', N'مشتريات', 1)
INSERT [dbo].[EXPENSE_CATEGORIES] ([category_ref], [category_name], [affects_inventory]) VALUES (N'CAT-EXP-003', N'رواتب', 0)
GO
INSERT [dbo].[EXPENSES] ([expense_ref], [employee_id], [expense_date], [category_ref], [expense_description], [amount]) VALUES (N'EXP-20260529-001', NULL, CAST(N'2026-05-29' AS Date), N'CAT-EXP-002', N'شراء صنف: كرة قدم - حجم 5', CAST(1800.00 AS Decimal(10, 2)))
INSERT [dbo].[EXPENSES] ([expense_ref], [employee_id], [expense_date], [category_ref], [expense_description], [amount]) VALUES (N'EXP-20260529-002', NULL, CAST(N'2026-05-29' AS Date), N'CAT-EXP-006', N'فاتورة كهرباء شهر مايو', CAST(70.00 AS Decimal(10, 2)))
INSERT [dbo].[EXPENSES] ([expense_ref], [employee_id], [expense_date], [category_ref], [expense_description], [amount]) VALUES (N'EXP-20260529-003', NULL, CAST(N'2026-05-29' AS Date), N'CAT-EXP-002', N'شراء صنف: مضرب بادل أديداس', CAST(1800.00 AS Decimal(10, 2)))
GO
INSERT [dbo].[INVENTORY] ([item_ref], [current_quantity], [damaged_quantity], [product_ref]) VALUES (N'INV-0001', 13, 0, N'INV-0001')
INSERT [dbo].[INVENTORY] ([item_ref], [current_quantity], [damaged_quantity], [product_ref]) VALUES (N'INV-0002', 98, 0, N'INV-0002')
INSERT [dbo].[INVENTORY] ([item_ref], [current_quantity], [damaged_quantity], [product_ref]) VALUES (N'INV-0003', 48, 0, N'INV-0003')
GO
INSERT [dbo].[INVENTORY_CATEGORIES] ([category_ref], [category_name], [description]) VALUES (N'CAT-INV-001', N'كرات رياضية', N'كرات، مضارب، وأدوات رياضية')
INSERT [dbo].[INVENTORY_CATEGORIES] ([category_ref], [category_name], [description]) VALUES (N'CAT-INV-002', N'معدات الملاعب', N'مشروبات ومياه ومواد استهلاكية للبيع')
INSERT [dbo].[INVENTORY_CATEGORIES] ([category_ref], [category_name], [description]) VALUES (N'CAT-INV-003', N'إضاءة', N'منظفات ومواد تنظيف')
GO
INSERT [dbo].[INVENTORY_MOVEMENTS] ([movement_ref], [item_ref], [employee_id], [movement_date], [movement_time], [movement_type], [quantity], [notes]) VALUES (N'MOV-CLR-4C6DD4', N'INV-0001', N'119900123456', CAST(N'2026-05-29' AS Date), CAST(N'20:26:45.9463508' AS Time), N'out', 1, N'إزالة كمية التالف المسجلة')
INSERT [dbo].[INVENTORY_MOVEMENTS] ([movement_ref], [item_ref], [employee_id], [movement_date], [movement_time], [movement_type], [quantity], [notes]) VALUES (N'MOV-CLR-7AEB80', N'INV-0001', NULL, CAST(N'2026-05-29' AS Date), CAST(N'20:18:48.2568485' AS Time), N'adjusted', 1, N'إزالة كمية التالف المسجلة')
INSERT [dbo].[INVENTORY_MOVEMENTS] ([movement_ref], [item_ref], [employee_id], [movement_date], [movement_time], [movement_type], [quantity], [notes]) VALUES (N'MOV-CLR-ED2CF9', N'INV-0002', N'119900123456', CAST(N'2026-05-29' AS Date), CAST(N'20:27:53.9881426' AS Time), N'out', 2, N'إزالة كمية التالف المسجلة')
GO
INSERT [dbo].[MONTHLY_CONTRACTS] ([contract_ref], [customer_phone_number], [court_ref], [start_date], [end_date], [start_time], [end_time], [monthly_value], [payment_status]) VALUES (N'CONT-001', N'0911234567', N'CRT-0001', CAST(N'2026-05-01' AS Date), CAST(N'2026-05-31' AS Date), CAST(N'18:00:00' AS Time), CAST(N'20:00:00' AS Time), CAST(800.00 AS Decimal(10, 2)), N'مدفوع')
INSERT [dbo].[MONTHLY_CONTRACTS] ([contract_ref], [customer_phone_number], [court_ref], [start_date], [end_date], [start_time], [end_time], [monthly_value], [payment_status]) VALUES (N'CONT-002', N'0927654321', N'CRT-0003', CAST(N'2026-05-01' AS Date), CAST(N'2026-05-31' AS Date), CAST(N'16:00:00' AS Time), CAST(N'18:00:00' AS Time), CAST(600.00 AS Decimal(10, 2)), N'مدفوع')
INSERT [dbo].[MONTHLY_CONTRACTS] ([contract_ref], [customer_phone_number], [court_ref], [start_date], [end_date], [start_time], [end_time], [monthly_value], [payment_status]) VALUES (N'CONT-003', N'0915232636', N'CRT-0003', CAST(N'2026-05-28' AS Date), CAST(N'2026-06-30' AS Date), CAST(N'20:00:00' AS Time), CAST(N'21:00:00' AS Time), CAST(600.00 AS Decimal(10, 2)), N'مدفوع')
GO
INSERT [dbo].[PAYMENTS] ([payment_ref], [customer_phone_number], [payment_date], [payment_time], [booking_ref], [contract_ref], [amount]) VALUES (N'PAY-20260501-001', N'0911234567', CAST(N'2026-05-01' AS Date), CAST(N'10:00:00' AS Time), NULL, N'CONT-001', CAST(800.00 AS Decimal(10, 2)))
INSERT [dbo].[PAYMENTS] ([payment_ref], [customer_phone_number], [payment_date], [payment_time], [booking_ref], [contract_ref], [amount]) VALUES (N'PAY-20260501-002', N'0927654321', CAST(N'2026-05-01' AS Date), CAST(N'11:30:00' AS Time), NULL, N'CONT-002', CAST(600.00 AS Decimal(10, 2)))
INSERT [dbo].[PAYMENTS] ([payment_ref], [customer_phone_number], [payment_date], [payment_time], [booking_ref], [contract_ref], [amount]) VALUES (N'PAY-20260528-001', N'0945556677', CAST(N'2026-05-28' AS Date), CAST(N'19:45:00' AS Time), N'BKG-20260528-001', NULL, CAST(100.00 AS Decimal(10, 2)))
GO
INSERT [dbo].[PRODUCTS] ([product_ref], [product_name], [category_ref], [selling_price], [rental_rate], [usage_type], [min_quantity]) VALUES (N'INV-0001', N'كرة قدم - حجم 5', N'CAT-INV-001', CAST(0.00 AS Decimal(18, 2)), CAST(10.00 AS Decimal(18, 2)), 2, 10)
INSERT [dbo].[PRODUCTS] ([product_ref], [product_name], [category_ref], [selling_price], [rental_rate], [usage_type], [min_quantity]) VALUES (N'INV-0002', N'تيشرت رجالي رياضي', N'CAT-INV-004', CAST(85.00 AS Decimal(18, 2)), CAST(7.00 AS Decimal(18, 2)), 3, 5)
INSERT [dbo].[PRODUCTS] ([product_ref], [product_name], [category_ref], [selling_price], [rental_rate], [usage_type], [min_quantity]) VALUES (N'INV-0003', N'مضرب بادل أديداس', N'CAT-INV-002', CAST(350.00 AS Decimal(18, 2)), CAST(35.00 AS Decimal(18, 2)), 3, 5)
GO
INSERT [dbo].[PURCHASE_COURTS] ([purchase_ref], [court_ref]) VALUES (N'PUR-20260529-001', N'CRT-0001')
INSERT [dbo].[PURCHASE_COURTS] ([purchase_ref], [court_ref]) VALUES (N'PUR-20260529-001', N'CRT-0002')
INSERT [dbo].[PURCHASE_COURTS] ([purchase_ref], [court_ref]) VALUES (N'PUR-20260529-001', N'CRT-0006')
GO
INSERT [dbo].[PURCHASES] ([purchase_ref], [expense_ref], [purchase_date], [item_ref], [quantity], [unit_price], [supplier_name], [employee_id], [notes]) VALUES (N'PUR-20260529-001', N'EXP-20260529-001', CAST(N'2026-05-29' AS Date), N'INV-0001', 15, CAST(120.00 AS Decimal(10, 2)), N'شركة أديداس', NULL, N'نوع الملعب: كرة قدم - اسم الملعب: جميع ملاعب كرة قدم')
INSERT [dbo].[PURCHASES] ([purchase_ref], [expense_ref], [purchase_date], [item_ref], [quantity], [unit_price], [supplier_name], [employee_id], [notes]) VALUES (N'PUR-20260529-002', N'EXP-20260529-006', CAST(N'2026-05-29' AS Date), N'INV-0002', 50, CAST(35.00 AS Decimal(10, 2)), N'شركة أديداس', NULL, N'نوع الملعب: جميع أنواع الملاعب - اسم الملعب: جميع الملاعب')
INSERT [dbo].[PURCHASES] ([purchase_ref], [expense_ref], [purchase_date], [item_ref], [quantity], [unit_price], [supplier_name], [employee_id], [notes]) VALUES (N'PUR-20260529-003', N'EXP-20260529-003', CAST(N'2026-05-29' AS Date), N'INV-0003', 12, CAST(150.00 AS Decimal(10, 2)), N'شركة أديداس', NULL, N'نوع الملعب: بادل - اسم الملعب: جميع ملاعب بادل')
GO
INSERT [dbo].[SALARIES] ([salary_ref], [employee_id], [payment_date], [amount], [incentives], [deductions]) VALUES (N'SAL-20260430-001', N'119900123456', CAST(N'2026-04-30' AS Date), CAST(3500.00 AS Decimal(10, 2)), CAST(0.00 AS Decimal(10, 2)), CAST(0.00 AS Decimal(10, 2)))
INSERT [dbo].[SALARIES] ([salary_ref], [employee_id], [payment_date], [amount], [incentives], [deductions]) VALUES (N'SAL-20260430-002', N'119950654321', CAST(N'2026-04-30' AS Date), CAST(1500.00 AS Decimal(10, 2)), CAST(0.00 AS Decimal(10, 2)), CAST(0.00 AS Decimal(10, 2)))
INSERT [dbo].[SALARIES] ([salary_ref], [employee_id], [payment_date], [amount], [incentives], [deductions]) VALUES (N'SAL-20260430-003', N'119850987654', CAST(N'2026-04-30' AS Date), CAST(900.00 AS Decimal(10, 2)), CAST(0.00 AS Decimal(10, 2)), CAST(0.00 AS Decimal(10, 2)))
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Bookings_BookingRef]    Script Date: 5/29/2026 9:51:24 PM ******/
CREATE NONCLUSTERED INDEX [IX_Bookings_BookingRef] ON [dbo].[BOOKINGS]
(
	[booking_ref] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_COURTS_CourtName]    Script Date: 5/29/2026 9:51:24 PM ******/
ALTER TABLE [dbo].[COURTS] ADD  CONSTRAINT [UQ_COURTS_CourtName] UNIQUE NONCLUSTERED 
(
	[court_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Courts_CourtRef]    Script Date: 5/29/2026 9:51:24 PM ******/
CREATE NONCLUSTERED INDEX [IX_Courts_CourtRef] ON [dbo].[COURTS]
(
	[court_ref] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_EXPENSE_CATEGORIES_Name]    Script Date: 5/29/2026 9:51:24 PM ******/
ALTER TABLE [dbo].[EXPENSE_CATEGORIES] ADD  CONSTRAINT [UQ_EXPENSE_CATEGORIES_Name] UNIQUE NONCLUSTERED 
(
	[category_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Expenses_CategoryRef]    Script Date: 5/29/2026 9:51:24 PM ******/
CREATE NONCLUSTERED INDEX [IX_Expenses_CategoryRef] ON [dbo].[EXPENSES]
(
	[category_ref] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Expenses_ExpenseRef]    Script Date: 5/29/2026 9:51:24 PM ******/
CREATE NONCLUSTERED INDEX [IX_Expenses_ExpenseRef] ON [dbo].[EXPENSES]
(
	[expense_ref] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Inventory_ItemRef]    Script Date: 5/29/2026 9:51:24 PM ******/
CREATE NONCLUSTERED INDEX [IX_Inventory_ItemRef] ON [dbo].[INVENTORY]
(
	[item_ref] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_INVENTORY_CATEGORIES_Name]    Script Date: 5/29/2026 9:51:24 PM ******/
ALTER TABLE [dbo].[INVENTORY_CATEGORIES] ADD  CONSTRAINT [UQ_INVENTORY_CATEGORIES_Name] UNIQUE NONCLUSTERED 
(
	[category_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Payments_PaymentRef]    Script Date: 5/29/2026 9:51:24 PM ******/
CREATE NONCLUSTERED INDEX [IX_Payments_PaymentRef] ON [dbo].[PAYMENTS]
(
	[payment_ref] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Purchases_PurchaseRef]    Script Date: 5/29/2026 9:51:24 PM ******/
CREATE NONCLUSTERED INDEX [IX_Purchases_PurchaseRef] ON [dbo].[PURCHASES]
(
	[purchase_ref] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Salaries_SalaryRef]    Script Date: 5/29/2026 9:51:24 PM ******/
CREATE NONCLUSTERED INDEX [IX_Salaries_SalaryRef] ON [dbo].[SALARIES]
(
	[salary_ref] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BOOKINGS] ADD  CONSTRAINT [DF_BOOKINGS_Status]  DEFAULT (N'confirmed') FOR [status]
GO
ALTER TABLE [dbo].[COURTS] ADD  DEFAULT ((0.0)) FOR [price_per_hour]
GO
ALTER TABLE [dbo].[COURTS] ADD  DEFAULT ('08:00:00') FOR [open_time]
GO
ALTER TABLE [dbo].[COURTS] ADD  DEFAULT ('00:00:00') FOR [close_time]
GO
ALTER TABLE [dbo].[EMPLOYEES] ADD  CONSTRAINT [DF_EMPLOYEES_HasSystemAccess]  DEFAULT ((0)) FOR [has_system_access]
GO
ALTER TABLE [dbo].[EXPENSE_CATEGORIES] ADD  CONSTRAINT [DF_ExpenseCategories_AffectsInventory]  DEFAULT ((0)) FOR [affects_inventory]
GO
ALTER TABLE [dbo].[INVENTORY] ADD  CONSTRAINT [DF_INVENTORY_DamagedQty]  DEFAULT ((0)) FOR [damaged_quantity]
GO
ALTER TABLE [dbo].[MONTHLY_CONTRACTS] ADD  CONSTRAINT [DF_MONTHLY_CONTRACTS_PaymentStatus]  DEFAULT (N'pending') FOR [payment_status]
GO
ALTER TABLE [dbo].[PRODUCTS] ADD  DEFAULT ((0)) FOR [selling_price]
GO
ALTER TABLE [dbo].[PRODUCTS] ADD  DEFAULT ((0)) FOR [rental_rate]
GO
ALTER TABLE [dbo].[PRODUCTS] ADD  DEFAULT ((1)) FOR [usage_type]
GO
ALTER TABLE [dbo].[PRODUCTS] ADD  DEFAULT ((5)) FOR [min_quantity]
GO
ALTER TABLE [dbo].[SALARIES] ADD  DEFAULT ((0.00)) FOR [incentives]
GO
ALTER TABLE [dbo].[SALARIES] ADD  DEFAULT ((0.00)) FOR [deductions]
GO
ALTER TABLE [dbo].[BOOKING_INVENTORY]  WITH CHECK ADD  CONSTRAINT [FK_BOOKING_INVENTORY_BOOKINGS] FOREIGN KEY([booking_ref])
REFERENCES [dbo].[BOOKINGS] ([booking_ref])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BOOKING_INVENTORY] CHECK CONSTRAINT [FK_BOOKING_INVENTORY_BOOKINGS]
GO
ALTER TABLE [dbo].[BOOKING_INVENTORY]  WITH CHECK ADD  CONSTRAINT [FK_BOOKING_INVENTORY_INVENTORY] FOREIGN KEY([item_ref])
REFERENCES [dbo].[INVENTORY] ([item_ref])
GO
ALTER TABLE [dbo].[BOOKING_INVENTORY] CHECK CONSTRAINT [FK_BOOKING_INVENTORY_INVENTORY]
GO
ALTER TABLE [dbo].[BOOKINGS]  WITH CHECK ADD  CONSTRAINT [FK_BOOKINGS_COURTS] FOREIGN KEY([court_ref])
REFERENCES [dbo].[COURTS] ([court_ref])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[BOOKINGS] CHECK CONSTRAINT [FK_BOOKINGS_COURTS]
GO
ALTER TABLE [dbo].[BOOKINGS]  WITH CHECK ADD  CONSTRAINT [FK_BOOKINGS_CUSTOMERS] FOREIGN KEY([customer_phone_number])
REFERENCES [dbo].[CUSTOMERS] ([phone_number])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[BOOKINGS] CHECK CONSTRAINT [FK_BOOKINGS_CUSTOMERS]
GO
ALTER TABLE [dbo].[BOOKINGS]  WITH CHECK ADD  CONSTRAINT [FK_BOOKINGS_MONTHLY_CONTRACTS] FOREIGN KEY([contract_ref])
REFERENCES [dbo].[MONTHLY_CONTRACTS] ([contract_ref])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[BOOKINGS] CHECK CONSTRAINT [FK_BOOKINGS_MONTHLY_CONTRACTS]
GO
ALTER TABLE [dbo].[EXPENSES]  WITH CHECK ADD  CONSTRAINT [FK_EXPENSES_Category] FOREIGN KEY([category_ref])
REFERENCES [dbo].[EXPENSE_CATEGORIES] ([category_ref])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[EXPENSES] CHECK CONSTRAINT [FK_EXPENSES_Category]
GO
ALTER TABLE [dbo].[EXPENSES]  WITH CHECK ADD  CONSTRAINT [FK_EXPENSES_EMPLOYEES] FOREIGN KEY([employee_id])
REFERENCES [dbo].[EMPLOYEES] ([employee_id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[EXPENSES] CHECK CONSTRAINT [FK_EXPENSES_EMPLOYEES]
GO
ALTER TABLE [dbo].[INVENTORY_MOVEMENTS]  WITH CHECK ADD  CONSTRAINT [FK_INVENTORY_MOVEMENTS_EMPLOYEES] FOREIGN KEY([employee_id])
REFERENCES [dbo].[EMPLOYEES] ([employee_id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[INVENTORY_MOVEMENTS] CHECK CONSTRAINT [FK_INVENTORY_MOVEMENTS_EMPLOYEES]
GO
ALTER TABLE [dbo].[INVENTORY_MOVEMENTS]  WITH CHECK ADD  CONSTRAINT [FK_INVENTORY_MOVEMENTS_INVENTORY] FOREIGN KEY([item_ref])
REFERENCES [dbo].[INVENTORY] ([item_ref])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[INVENTORY_MOVEMENTS] CHECK CONSTRAINT [FK_INVENTORY_MOVEMENTS_INVENTORY]
GO
ALTER TABLE [dbo].[MONTHLY_CONTRACTS]  WITH CHECK ADD  CONSTRAINT [FK_MONTHLY_CONTRACTS_COURTS] FOREIGN KEY([court_ref])
REFERENCES [dbo].[COURTS] ([court_ref])
GO
ALTER TABLE [dbo].[MONTHLY_CONTRACTS] CHECK CONSTRAINT [FK_MONTHLY_CONTRACTS_COURTS]
GO
ALTER TABLE [dbo].[MONTHLY_CONTRACTS]  WITH CHECK ADD  CONSTRAINT [FK_MONTHLY_CONTRACTS_CUSTOMERS] FOREIGN KEY([customer_phone_number])
REFERENCES [dbo].[CUSTOMERS] ([phone_number])
GO
ALTER TABLE [dbo].[MONTHLY_CONTRACTS] CHECK CONSTRAINT [FK_MONTHLY_CONTRACTS_CUSTOMERS]
GO
ALTER TABLE [dbo].[PAYMENTS]  WITH CHECK ADD  CONSTRAINT [FK_PAYMENTS_BOOKING] FOREIGN KEY([booking_ref])
REFERENCES [dbo].[BOOKINGS] ([booking_ref])
GO
ALTER TABLE [dbo].[PAYMENTS] CHECK CONSTRAINT [FK_PAYMENTS_BOOKING]
GO
ALTER TABLE [dbo].[PAYMENTS]  WITH CHECK ADD  CONSTRAINT [FK_PAYMENTS_CONTRACT] FOREIGN KEY([contract_ref])
REFERENCES [dbo].[MONTHLY_CONTRACTS] ([contract_ref])
GO
ALTER TABLE [dbo].[PAYMENTS] CHECK CONSTRAINT [FK_PAYMENTS_CONTRACT]
GO
ALTER TABLE [dbo].[PAYMENTS]  WITH CHECK ADD  CONSTRAINT [FK_PAYMENTS_CUSTOMERS] FOREIGN KEY([customer_phone_number])
REFERENCES [dbo].[CUSTOMERS] ([phone_number])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[PAYMENTS] CHECK CONSTRAINT [FK_PAYMENTS_CUSTOMERS]
GO
ALTER TABLE [dbo].[PURCHASE_COURTS]  WITH CHECK ADD  CONSTRAINT [FK_PURCHASE_COURTS_COURTS] FOREIGN KEY([court_ref])
REFERENCES [dbo].[COURTS] ([court_ref])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[PURCHASE_COURTS] CHECK CONSTRAINT [FK_PURCHASE_COURTS_COURTS]
GO
ALTER TABLE [dbo].[PURCHASE_COURTS]  WITH CHECK ADD  CONSTRAINT [FK_PURCHASE_COURTS_PURCHASES] FOREIGN KEY([purchase_ref])
REFERENCES [dbo].[PURCHASES] ([purchase_ref])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PURCHASE_COURTS] CHECK CONSTRAINT [FK_PURCHASE_COURTS_PURCHASES]
GO
ALTER TABLE [dbo].[PURCHASES]  WITH CHECK ADD  CONSTRAINT [FK_PURCHASES_EMPLOYEES] FOREIGN KEY([employee_id])
REFERENCES [dbo].[EMPLOYEES] ([employee_id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[PURCHASES] CHECK CONSTRAINT [FK_PURCHASES_EMPLOYEES]
GO
ALTER TABLE [dbo].[PURCHASES]  WITH CHECK ADD  CONSTRAINT [FK_PURCHASES_EXPENSES] FOREIGN KEY([expense_ref])
REFERENCES [dbo].[EXPENSES] ([expense_ref])
GO
ALTER TABLE [dbo].[PURCHASES] CHECK CONSTRAINT [FK_PURCHASES_EXPENSES]
GO
ALTER TABLE [dbo].[PURCHASES]  WITH CHECK ADD  CONSTRAINT [FK_PURCHASES_INVENTORY] FOREIGN KEY([item_ref])
REFERENCES [dbo].[INVENTORY] ([item_ref])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[PURCHASES] CHECK CONSTRAINT [FK_PURCHASES_INVENTORY]
GO
ALTER TABLE [dbo].[SALARIES]  WITH CHECK ADD  CONSTRAINT [FK_SALARIES_EMPLOYEES] FOREIGN KEY([employee_id])
REFERENCES [dbo].[EMPLOYEES] ([employee_id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[SALARIES] CHECK CONSTRAINT [FK_SALARIES_EMPLOYEES]
GO
ALTER TABLE [dbo].[PAYMENTS]  WITH CHECK ADD  CONSTRAINT [CHK_PAYMENTS_ONE_REF] CHECK  (([booking_ref] IS NOT NULL AND [contract_ref] IS NULL OR [booking_ref] IS NULL AND [contract_ref] IS NOT NULL))
GO
ALTER TABLE [dbo].[PAYMENTS] CHECK CONSTRAINT [CHK_PAYMENTS_ONE_REF]
GO
ALTER TABLE [dbo].[PURCHASES]  WITH CHECK ADD  CONSTRAINT [CK_PURCHASES_QuantityPositive] CHECK  (([quantity]>(0)))
GO
ALTER TABLE [dbo].[PURCHASES] CHECK CONSTRAINT [CK_PURCHASES_QuantityPositive]
GO
ALTER TABLE [dbo].[PURCHASES]  WITH CHECK ADD  CONSTRAINT [CK_PURCHASES_UnitPriceNonNegative] CHECK  (([unit_price]>=(0)))
GO
ALTER TABLE [dbo].[PURCHASES] CHECK CONSTRAINT [CK_PURCHASES_UnitPriceNonNegative]
GO
/****** Object:  Trigger [dbo].[trg_GenerateBookingRef]    Script Date: 5/29/2026 9:51:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Trigger لتوليد مفاتيح BOOKINGS (بالتاريخ)
CREATE   TRIGGER [dbo].[trg_GenerateBookingRef]
ON [dbo].[BOOKINGS]
INSTEAD OF INSERT
AS
BEGIN
    SET NOCOUNT ON;
    DECLARE @InsertedRows TABLE (RowID INT IDENTITY(1,1), customer_phone_number VARCHAR(20), court_ref VARCHAR(50), contract_ref VARCHAR(50), booking_date DATE, start_time TIME(7), end_time TIME(7), price DECIMAL(10,2), status NVARCHAR(20), booking_ref VARCHAR(50));
    INSERT INTO @InsertedRows (customer_phone_number, court_ref, contract_ref, booking_date, start_time, end_time, price, status, booking_ref) SELECT customer_phone_number, court_ref, contract_ref, booking_date, start_time, end_time, price, status, booking_ref FROM inserted;

    DECLARE @CurrentRow INT = 1, @TotalRows INT = (SELECT COUNT(*) FROM @InsertedRows), @NextAvailableSeq INT, @TodayContext VARCHAR(8);
    WHILE @CurrentRow <= @TotalRows
    BEGIN
        IF EXISTS (SELECT 1 FROM @InsertedRows WHERE RowID = @CurrentRow AND (booking_ref IS NULL OR booking_ref = ''))
        BEGIN
            SET @TodayContext = CONVERT(VARCHAR(8), (SELECT booking_date FROM @InsertedRows WHERE RowID = @CurrentRow), 112);
            SELECT @NextAvailableSeq = MIN(t1.Seq) FROM (SELECT ROW_NUMBER() OVER (ORDER BY (SELECT NULL)) AS Seq FROM master.sys.all_objects) t1 
            LEFT JOIN [BOOKINGS] b ON CAST(RIGHT(b.booking_ref, 3) AS INT) = t1.Seq AND b.booking_ref LIKE 'BKG-' + @TodayContext + '-%' 
            WHERE b.booking_ref IS NULL;
            UPDATE @InsertedRows SET booking_ref = 'BKG-' + @TodayContext + '-' + RIGHT('000' + CAST(@NextAvailableSeq AS VARCHAR(3)), 3) WHERE RowID = @CurrentRow;
        END
        SET @CurrentRow = @CurrentRow + 1;
    END
    INSERT INTO [BOOKINGS] (booking_ref, customer_phone_number, court_ref, contract_ref, booking_date, start_time, end_time, price, status) SELECT booking_ref, customer_phone_number, court_ref, contract_ref, booking_date, start_time, end_time, price, status FROM @InsertedRows;
END;
GO
ALTER TABLE [dbo].[BOOKINGS] ENABLE TRIGGER [trg_GenerateBookingRef]
GO
/****** Object:  Trigger [dbo].[trg_GenerateCourtRef]    Script Date: 5/29/2026 9:51:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE TRIGGER [dbo].[trg_GenerateCourtRef]
ON [dbo].[COURTS]
INSTEAD OF INSERT
AS
BEGIN
    SET NOCOUNT ON;
    DECLARE @InsertedRows TABLE (
        RowID INT IDENTITY(1,1), 
        court_name NVARCHAR(100), 
        sport_type NVARCHAR(50), 
        court_ref VARCHAR(50),
        price_per_hour FLOAT,
        open_time TIME,
        close_time TIME
    );
    
    INSERT INTO @InsertedRows (court_name, sport_type, court_ref, price_per_hour, open_time, close_time) 
    SELECT court_name, sport_type, court_ref, price_per_hour, open_time, close_time FROM inserted;

    DECLARE @CurrentRow INT = 1, @TotalRows INT = (SELECT COUNT(*) FROM @InsertedRows), @NextAvailableSeq INT;
    WHILE @CurrentRow <= @TotalRows
    BEGIN
        IF EXISTS (SELECT 1 FROM @InsertedRows WHERE RowID = @CurrentRow AND (court_ref IS NULL OR court_ref = ''))
        BEGIN
            SELECT @NextAvailableSeq = MIN(t1.Seq) FROM (SELECT ROW_NUMBER() OVER (ORDER BY (SELECT NULL)) AS Seq FROM master.sys.all_objects) t1 
            LEFT JOIN [COURTS] c ON CAST(RIGHT(c.court_ref, 4) AS INT) = t1.Seq AND c.court_ref LIKE 'CRT-%' 
            WHERE c.court_ref IS NULL;
            UPDATE @InsertedRows SET court_ref = 'CRT-' + RIGHT('0000' + CAST(@NextAvailableSeq AS VARCHAR(4)), 4) WHERE RowID = @CurrentRow;
        END
        SET @CurrentRow = @CurrentRow + 1;
    END
    
    -- Insert the new court(s)
    INSERT INTO [COURTS] (court_ref, court_name, sport_type, price_per_hour, open_time, close_time) 
    SELECT court_ref, court_name, sport_type, price_per_hour, open_time, close_time FROM @InsertedRows;

    -- Auto-link newly added courts to generic and sport-type-specific purchases
    INSERT INTO PURCHASE_COURTS (purchase_ref, court_ref)
    SELECT DISTINCT p.purchase_ref, i.court_ref
    FROM @InsertedRows i
    CROSS JOIN PURCHASES p
    WHERE (
        -- Case 1: Purchase applies to all courts
        (p.notes LIKE N'%Ø¬Ù…ÙŠØ¹ Ø£Ù†ÙˆØ§Ø¹ Ø§Ù„Ù…Ù„Ø§Ø¹Ø¨%' OR p.notes LIKE N'%Ø¬Ù…ÙŠØ¹ Ø§Ù„Ù…Ù„Ø§Ø¹Ø¨%')
        OR
        -- Case 2: Purchase applies to all courts of this specific sport type
        (p.notes LIKE N'%Ø¬Ù…ÙŠØ¹ Ù…Ù„Ø§Ø¹Ø¨%' AND p.notes LIKE N'%' + i.sport_type + N'%')
    )
    AND NOT EXISTS (
        SELECT 1 FROM PURCHASE_COURTS pc 
        WHERE pc.purchase_ref = p.purchase_ref AND pc.court_ref = i.court_ref
    );
END;

GO
ALTER TABLE [dbo].[COURTS] ENABLE TRIGGER [trg_GenerateCourtRef]
GO
/****** Object:  Trigger [dbo].[trg_GenerateExpenseCategoryRef]    Script Date: 5/29/2026 9:51:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Trigger لتوليد مفاتيح EXPENSE_CATEGORIES
CREATE   TRIGGER [dbo].[trg_GenerateExpenseCategoryRef]
ON [dbo].[EXPENSE_CATEGORIES]
INSTEAD OF INSERT
AS
BEGIN
    SET NOCOUNT ON;
    DECLARE @InsertedRows TABLE (RowID INT IDENTITY(1,1), category_name NVARCHAR(100), affects_inventory BIT, category_ref VARCHAR(20));
    INSERT INTO @InsertedRows (category_name, affects_inventory, category_ref) SELECT category_name, affects_inventory, category_ref FROM inserted;

    DECLARE @CurrentRow INT = 1, @TotalRows INT = (SELECT COUNT(*) FROM @InsertedRows), @NextAvailableSeq INT;
    WHILE @CurrentRow <= @TotalRows
    BEGIN
        IF EXISTS (SELECT 1 FROM @InsertedRows WHERE RowID = @CurrentRow AND (category_ref IS NULL OR category_ref = ''))
        BEGIN
            SELECT @NextAvailableSeq = MIN(t1.Seq) FROM (SELECT ROW_NUMBER() OVER (ORDER BY (SELECT NULL)) AS Seq FROM master.sys.all_objects) t1 
            LEFT JOIN [EXPENSE_CATEGORIES] ec ON CAST(RIGHT(ec.category_ref, 3) AS INT) = t1.Seq AND ec.category_ref LIKE 'CAT-EXP-%' 
            WHERE ec.category_ref IS NULL;
            UPDATE @InsertedRows SET category_ref = 'CAT-EXP-' + RIGHT('000' + CAST(@NextAvailableSeq AS VARCHAR(3)), 3) WHERE RowID = @CurrentRow;
        END
        SET @CurrentRow = @CurrentRow + 1;
    END
    INSERT INTO [EXPENSE_CATEGORIES] (category_ref, category_name, affects_inventory) SELECT category_ref, category_name, affects_inventory FROM @InsertedRows;
END;
GO
ALTER TABLE [dbo].[EXPENSE_CATEGORIES] ENABLE TRIGGER [trg_GenerateExpenseCategoryRef]
GO
/****** Object:  Trigger [dbo].[trg_GenerateExpenseRef]    Script Date: 5/29/2026 9:51:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Trigger لتوليد مفاتيح EXPENSES (بالتاريخ)
CREATE   TRIGGER [dbo].[trg_GenerateExpenseRef]
ON [dbo].[EXPENSES]
INSTEAD OF INSERT
AS
BEGIN
    SET NOCOUNT ON;
    DECLARE @InsertedRows TABLE (RowID INT IDENTITY(1,1), employee_id VARCHAR(15), expense_date DATE, category_ref VARCHAR(20), expense_description NVARCHAR(255), amount DECIMAL(10,2), expense_ref VARCHAR(50));
    INSERT INTO @InsertedRows (employee_id, expense_date, category_ref, expense_description, amount, expense_ref) SELECT employee_id, expense_date, category_ref, expense_description, amount, expense_ref FROM inserted;

    DECLARE @CurrentRow INT = 1, @TotalRows INT = (SELECT COUNT(*) FROM @InsertedRows), @NextAvailableSeq INT, @TodayContext VARCHAR(8);
    WHILE @CurrentRow <= @TotalRows
    BEGIN
        IF EXISTS (SELECT 1 FROM @InsertedRows WHERE RowID = @CurrentRow AND (expense_ref IS NULL OR expense_ref = ''))
        BEGIN
            SET @TodayContext = CONVERT(VARCHAR(8), (SELECT expense_date FROM @InsertedRows WHERE RowID = @CurrentRow), 112);
            SELECT @NextAvailableSeq = MIN(t1.Seq) FROM (SELECT ROW_NUMBER() OVER (ORDER BY (SELECT NULL)) AS Seq FROM master.sys.all_objects) t1 
            LEFT JOIN [EXPENSES] e ON CAST(RIGHT(e.expense_ref, 3) AS INT) = t1.Seq AND e.expense_ref LIKE 'EXP-' + @TodayContext + '-%' 
            WHERE e.expense_ref IS NULL;
            UPDATE @InsertedRows SET expense_ref = 'EXP-' + @TodayContext + '-' + RIGHT('000' + CAST(@NextAvailableSeq AS VARCHAR(3)), 3) WHERE RowID = @CurrentRow;
        END
        SET @CurrentRow = @CurrentRow + 1;
    END
    INSERT INTO [EXPENSES] (expense_ref, employee_id, expense_date, category_ref, expense_description, amount) SELECT expense_ref, employee_id, expense_date, category_ref, expense_description, amount FROM @InsertedRows;
END;
GO
ALTER TABLE [dbo].[EXPENSES] ENABLE TRIGGER [trg_GenerateExpenseRef]
GO
/****** Object:  Trigger [dbo].[trg_GenerateItemRef]    Script Date: 5/29/2026 9:51:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TRIGGER [dbo].[trg_GenerateItemRef]
ON [dbo].[INVENTORY]
INSTEAD OF INSERT
AS
BEGIN
    SET NOCOUNT ON;
    DECLARE @InsertedRows TABLE (
        RowID INT IDENTITY(1,1), 
        item_ref VARCHAR(50), 
        current_quantity INT, 
        damaged_quantity INT,
        product_ref VARCHAR(20)
    );
    
    -- نقوم بإدراج الحقول المتوافقة مع الهيكل الجديد فقط
    INSERT INTO @InsertedRows (item_ref, current_quantity, damaged_quantity, product_ref) 
    SELECT item_ref, current_quantity, damaged_quantity, product_ref FROM inserted;

    DECLARE @CurrentRow INT = 1, @TotalRows INT = (SELECT COUNT(*) FROM @InsertedRows), @NextAvailableSeq INT;
    
    WHILE @CurrentRow <= @TotalRows
    BEGIN
        IF EXISTS (SELECT 1 FROM @InsertedRows WHERE RowID = @CurrentRow AND (item_ref IS NULL OR item_ref = ''))
        BEGIN
            -- توليد تسلسل جديد للمخزون إذا لم يمرر الكود ref
            SELECT @NextAvailableSeq = MIN(t1.Seq) FROM (SELECT ROW_NUMBER() OVER (ORDER BY (SELECT NULL)) AS Seq FROM master.sys.all_objects) t1 
            LEFT JOIN [INVENTORY] i ON CAST(RIGHT(i.item_ref, 4) AS INT) = t1.Seq AND i.item_ref LIKE 'INV-%' 
            WHERE i.item_ref IS NULL;
            
            UPDATE @InsertedRows SET item_ref = 'INV-' + RIGHT('0000' + CAST(@NextAvailableSeq AS VARCHAR(4)), 4) WHERE RowID = @CurrentRow;
        END
        SET @CurrentRow = @CurrentRow + 1;
    END
    
    INSERT INTO [INVENTORY] (item_ref, current_quantity, damaged_quantity, product_ref) 
    SELECT item_ref, current_quantity, damaged_quantity, product_ref FROM @InsertedRows;
END;
GO
ALTER TABLE [dbo].[INVENTORY] ENABLE TRIGGER [trg_GenerateItemRef]
GO
/****** Object:  Trigger [dbo].[trg_GenerateInventoryCategoryRef]    Script Date: 5/29/2026 9:51:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================
-- 6. المحفزات (Triggers) للمفاتيح الذكية
-- ============================================

-- Trigger لتوليد مفاتيح INVENTORY_CATEGORIES
CREATE   TRIGGER [dbo].[trg_GenerateInventoryCategoryRef]
ON [dbo].[INVENTORY_CATEGORIES]
INSTEAD OF INSERT
AS
BEGIN
    SET NOCOUNT ON;
    DECLARE @InsertedRows TABLE (RowID INT IDENTITY(1,1), category_name NVARCHAR(100), description NVARCHAR(255), category_ref VARCHAR(20));
    INSERT INTO @InsertedRows (category_name, description, category_ref) SELECT category_name, description, category_ref FROM inserted;

    DECLARE @CurrentRow INT = 1, @TotalRows INT = (SELECT COUNT(*) FROM @InsertedRows), @NextAvailableSeq INT;
    WHILE @CurrentRow <= @TotalRows
    BEGIN
        IF EXISTS (SELECT 1 FROM @InsertedRows WHERE RowID = @CurrentRow AND (category_ref IS NULL OR category_ref = ''))
        BEGIN
            SELECT @NextAvailableSeq = MIN(t1.Seq) FROM (SELECT ROW_NUMBER() OVER (ORDER BY (SELECT NULL)) AS Seq FROM master.sys.all_objects) t1 
            LEFT JOIN [INVENTORY_CATEGORIES] ic ON CAST(RIGHT(ic.category_ref, 3) AS INT) = t1.Seq AND ic.category_ref LIKE 'CAT-INV-%' 
            WHERE ic.category_ref IS NULL;
            UPDATE @InsertedRows SET category_ref = 'CAT-INV-' + RIGHT('000' + CAST(@NextAvailableSeq AS VARCHAR(3)), 3) WHERE RowID = @CurrentRow;
        END
        SET @CurrentRow = @CurrentRow + 1;
    END
    INSERT INTO [INVENTORY_CATEGORIES] (category_ref, category_name, description) SELECT category_ref, category_name, description FROM @InsertedRows;
END;
GO
ALTER TABLE [dbo].[INVENTORY_CATEGORIES] ENABLE TRIGGER [trg_GenerateInventoryCategoryRef]
GO
/****** Object:  Trigger [dbo].[trg_GenerateContractRef]    Script Date: 5/29/2026 9:51:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Trigger لتوليد مفاتيح MONTHLY_CONTRACTS
CREATE   TRIGGER [dbo].[trg_GenerateContractRef]
ON [dbo].[MONTHLY_CONTRACTS]
INSTEAD OF INSERT
AS
BEGIN
    SET NOCOUNT ON;
    DECLARE @InsertedRows TABLE (RowID INT IDENTITY(1,1), customer_phone_number VARCHAR(20), court_ref VARCHAR(50), start_date DATE, end_date DATE, start_time TIME(7), end_time TIME(7), monthly_value DECIMAL(10,2), payment_status NVARCHAR(20), contract_ref VARCHAR(50));
    INSERT INTO @InsertedRows (customer_phone_number, court_ref, start_date, end_date, start_time, end_time, monthly_value, payment_status, contract_ref) SELECT customer_phone_number, court_ref, start_date, end_date, start_time, end_time, monthly_value, payment_status, contract_ref FROM inserted;

    DECLARE @CurrentRow INT = 1, @TotalRows INT = (SELECT COUNT(*) FROM @InsertedRows), @NextAvailableSeq INT;
    WHILE @CurrentRow <= @TotalRows
    BEGIN
        IF EXISTS (SELECT 1 FROM @InsertedRows WHERE RowID = @CurrentRow AND (contract_ref IS NULL OR contract_ref = ''))
        BEGIN
            SELECT @NextAvailableSeq = MIN(t1.Seq) FROM (SELECT ROW_NUMBER() OVER (ORDER BY (SELECT NULL)) AS Seq FROM master.sys.all_objects) t1 
            LEFT JOIN [MONTHLY_CONTRACTS] mc ON CAST(RIGHT(mc.contract_ref, 4) AS INT) = t1.Seq AND mc.contract_ref LIKE 'CONT-%' 
            WHERE mc.contract_ref IS NULL;
            UPDATE @InsertedRows SET contract_ref = 'CONT-' + RIGHT('0000' + CAST(@NextAvailableSeq AS VARCHAR(4)), 4) WHERE RowID = @CurrentRow;
        END
        SET @CurrentRow = @CurrentRow + 1;
    END
    INSERT INTO [MONTHLY_CONTRACTS] (contract_ref, customer_phone_number, court_ref, start_date, end_date, start_time, end_time, monthly_value, payment_status) SELECT contract_ref, customer_phone_number, court_ref, start_date, end_date, start_time, end_time, monthly_value, payment_status FROM @InsertedRows;
END;
GO
ALTER TABLE [dbo].[MONTHLY_CONTRACTS] ENABLE TRIGGER [trg_GenerateContractRef]
GO
/****** Object:  Trigger [dbo].[trg_GeneratePaymentRef]    Script Date: 5/29/2026 9:51:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Trigger لتوليد مفاتيح PAYMENTS (بالتاريخ)
CREATE   TRIGGER [dbo].[trg_GeneratePaymentRef]
ON [dbo].[PAYMENTS]
INSTEAD OF INSERT
AS
BEGIN
    SET NOCOUNT ON;
    DECLARE @InsertedRows TABLE (RowID INT IDENTITY(1,1), customer_phone_number VARCHAR(20), payment_date DATE, payment_time TIME(7), booking_ref VARCHAR(50), contract_ref VARCHAR(50), amount DECIMAL(10,2), payment_ref VARCHAR(50));
    INSERT INTO @InsertedRows (customer_phone_number, payment_date, payment_time, booking_ref, contract_ref, amount, payment_ref) SELECT customer_phone_number, payment_date, payment_time, booking_ref, contract_ref, amount, payment_ref FROM inserted;

    DECLARE @CurrentRow INT = 1, @TotalRows INT = (SELECT COUNT(*) FROM @InsertedRows), @NextAvailableSeq INT, @TodayContext VARCHAR(8);
    WHILE @CurrentRow <= @TotalRows
    BEGIN
        IF EXISTS (SELECT 1 FROM @InsertedRows WHERE RowID = @CurrentRow AND (payment_ref IS NULL OR payment_ref = ''))
        BEGIN
            SET @TodayContext = CONVERT(VARCHAR(8), (SELECT payment_date FROM @InsertedRows WHERE RowID = @CurrentRow), 112);
            SELECT @NextAvailableSeq = MIN(t1.Seq) FROM (SELECT ROW_NUMBER() OVER (ORDER BY (SELECT NULL)) AS Seq FROM master.sys.all_objects) t1 
            LEFT JOIN [PAYMENTS] p ON CAST(RIGHT(p.payment_ref, 3) AS INT) = t1.Seq AND p.payment_ref LIKE 'PAY-' + @TodayContext + '-%' 
            WHERE p.payment_ref IS NULL;
            UPDATE @InsertedRows SET payment_ref = 'PAY-' + @TodayContext + '-' + RIGHT('000' + CAST(@NextAvailableSeq AS VARCHAR(3)), 3) WHERE RowID = @CurrentRow;
        END
        SET @CurrentRow = @CurrentRow + 1;
    END
    INSERT INTO [PAYMENTS] (payment_ref, customer_phone_number, payment_date, payment_time, booking_ref, contract_ref, amount) SELECT payment_ref, customer_phone_number, payment_date, payment_time, booking_ref, contract_ref, amount FROM @InsertedRows;
END;
GO
ALTER TABLE [dbo].[PAYMENTS] ENABLE TRIGGER [trg_GeneratePaymentRef]
GO
/****** Object:  Trigger [dbo].[trg_GeneratePurchaseRef]    Script Date: 5/29/2026 9:51:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TRIGGER [dbo].[trg_GeneratePurchaseRef]
ON [dbo].[PURCHASES]
INSTEAD OF INSERT
AS
BEGIN
    SET NOCOUNT ON;
    DECLARE @InsertedRows TABLE (RowID INT IDENTITY(1,1), 
        expense_ref VARCHAR(50), purchase_date DATE, item_ref VARCHAR(50),
        quantity INT, unit_price DECIMAL(10,2), supplier_name NVARCHAR(200), employee_id VARCHAR(15), 
        notes NVARCHAR(500), purchase_ref VARCHAR(50));
        
    INSERT INTO @InsertedRows (expense_ref, purchase_date, item_ref, quantity, unit_price, supplier_name, employee_id, notes, purchase_ref)
    SELECT expense_ref, purchase_date, item_ref, quantity, unit_price, supplier_name, employee_id, notes, purchase_ref FROM inserted;

    DECLARE @CurrentRow INT = 1, @TotalRows INT = (SELECT COUNT(*) FROM @InsertedRows), @NextAvailableSeq INT, @TodayContext VARCHAR(8);
    WHILE @CurrentRow <= @TotalRows
    BEGIN
        IF EXISTS (SELECT 1 FROM @InsertedRows WHERE RowID = @CurrentRow AND (purchase_ref IS NULL OR purchase_ref = ''))
        BEGIN
            SET @TodayContext = CONVERT(VARCHAR(8), (SELECT purchase_date FROM @InsertedRows WHERE RowID = @CurrentRow), 112);
            SELECT @NextAvailableSeq = MIN(t1.Seq) FROM (SELECT ROW_NUMBER() OVER (ORDER BY (SELECT NULL)) AS Seq FROM master.sys.all_objects) t1 
            LEFT JOIN [PURCHASES] pc ON CAST(RIGHT(pc.purchase_ref, 3) AS INT) = t1.Seq AND pc.purchase_ref LIKE 'PUR-' + @TodayContext + '-%' 
            WHERE pc.purchase_ref IS NULL;
            UPDATE @InsertedRows SET purchase_ref = 'PUR-' + @TodayContext + '-' + RIGHT('000' + CAST(@NextAvailableSeq AS VARCHAR(3)), 3) WHERE RowID = @CurrentRow;
        END
        SET @CurrentRow = @CurrentRow + 1;
    END
    INSERT INTO [PURCHASES] (purchase_ref, expense_ref, purchase_date, item_ref, quantity, unit_price, supplier_name, employee_id, notes)
    SELECT purchase_ref, expense_ref, purchase_date, item_ref, quantity, unit_price, supplier_name, employee_id, notes FROM @InsertedRows;
END;
GO
ALTER TABLE [dbo].[PURCHASES] ENABLE TRIGGER [trg_GeneratePurchaseRef]
GO
/****** Object:  Trigger [dbo].[trg_GenerateSalaryRef]    Script Date: 5/29/2026 9:51:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Trigger لتوليد مفاتيح SALARIES (بالتاريخ) مع دعم الحوافز والخصومات
CREATE   TRIGGER [dbo].[trg_GenerateSalaryRef]
ON [dbo].[SALARIES]
INSTEAD OF INSERT
AS
BEGIN
    SET NOCOUNT ON;
    
    -- تعريف جدول مؤقت يحتوي على الأعمدة الجديدة
    DECLARE @InsertedRows TABLE (
        RowID INT IDENTITY(1,1), 
        employee_id VARCHAR(15), 
        payment_date DATE, 
        amount DECIMAL(10,2), 
        incentives DECIMAL(10,2),
        deductions DECIMAL(10,2),
        salary_ref VARCHAR(50)
    );
    
    -- إدراج الصفوف المدخلة بما فيها الحوافز والخصومات
    INSERT INTO @InsertedRows (employee_id, payment_date, amount, incentives, deductions, salary_ref) 
    SELECT employee_id, payment_date, amount, incentives, deductions, salary_ref FROM inserted;

    DECLARE @CurrentRow INT = 1, 
            @TotalRows INT = (SELECT COUNT(*) FROM @InsertedRows), 
            @NextAvailableSeq INT, 
            @TodayContext VARCHAR(8);
            
    -- حلقة لتوليد السيريال الفريد لكل صف بناءً على التاريخ
    WHILE @CurrentRow <= @TotalRows
    BEGIN
        IF EXISTS (SELECT 1 FROM @InsertedRows WHERE RowID = @CurrentRow AND (salary_ref IS NULL OR salary_ref = ''))
        BEGIN
            SET @TodayContext = CONVERT(VARCHAR(8), (SELECT payment_date FROM @InsertedRows WHERE RowID = @CurrentRow), 112);
            SELECT @NextAvailableSeq = MIN(t1.Seq) FROM (SELECT ROW_NUMBER() OVER (ORDER BY (SELECT NULL)) AS Seq FROM master.sys.all_objects) t1 
            LEFT JOIN [SALARIES] s ON CAST(RIGHT(s.salary_ref, 3) AS INT) = t1.Seq AND s.salary_ref LIKE 'SAL-' + @TodayContext + '-%' 
            WHERE s.salary_ref IS NULL;
            UPDATE @InsertedRows SET salary_ref = 'SAL-' + @TodayContext + '-' + RIGHT('000' + CAST(@NextAvailableSeq AS VARCHAR(3)), 3) WHERE RowID = @CurrentRow;
        END
        SET @CurrentRow = @CurrentRow + 1;
    END
    
    -- إدراج البيانات النهائية في الجدول الفعلي مع كل الأعمدة
    INSERT INTO [SALARIES] (salary_ref, employee_id, payment_date, amount, incentives, deductions) 
    SELECT salary_ref, employee_id, payment_date, amount, incentives, deductions FROM @InsertedRows;
END;
GO
ALTER TABLE [dbo].[SALARIES] ENABLE TRIGGER [trg_GenerateSalaryRef]
GO
